backcall==0.2.0
coverage==7.11.0
docopt==0.6.2
h5py==3.12.1
iniconfig==2.3.0
ipython==8.12.3
matplotlib==3.9.2
natsort==8.4.0
patsy==1.0.1
pickleshare==0.7.5
pipreqs==0.5.0
pluggy==1.6.0
pyaml==25.1.0
PyQt5==5.15.10
pytest==8.4.2
scikit-optimize==0.10.2
setuptools==75.1.0
statsmodels==0.14.5
wheel==0.44.0
yarg==0.1.9
